.report-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  
    label {
      cursor: pointer;
      text-align: center;
      color: #3f51b5;
      font-weight: bold;
    }
  
    input[type='file'] {
      display: none;
    }
  
    .uploaded-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  
  .location-section {
    margin-bottom: 15px;
  }
  